/* navigation settings */
.custom-nav{
    position: fixed;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.9) !important;
    z-index: 10;
}

.navbar-brand{
    font-size: 1.8em;
    font-weight: 620;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
    font-size: 1.4em;

}
.navbar-nav a:hover{
    text-shadow: 2px 2px 5px rgb(190, 81, 7, 0.5);
    font-weight: 600;
}
.nav-item{
    margin: 0px 15px;
}


/* jumbotron settings */
.jumbotron-custom{
    display: flex;
    background-image: url(../images/Sunset-Fuji.jpg);
    background-size: cover;
    background-position: center;
    justify-content: space-evenly;
    box-shadow: 0 0 8px 10px white inset;
}

.hero-custom {
    display: flex;
    height: 290px;
    width: 100%;
    justify-content: space-between;
    padding-right: 50px;
    padding-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.container{
    width: 100%;
}

.display-4{
    text-align: end;
    font-size: 4em;
    font-weight:600;
    color:ghostwhite;
}

#portrait {
    height: 250px;
    margin: 20px;
    border-radius: 50%;
}

/* projects section */
.section-heading {
    text-align: center;
    font-size: 2.5em ;
    padding-top: 20px;
}
.proj-par{
    text-align: center;
    font-size: 1.5em;
}

.projects-section{
    padding: 20px;
}

.row{
    margin-left: 0;
}

.card {
    position: relative;
    display: flex;
    margin: 20px;
}

.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
    align-items: center;
}

.card-body{
    flex: 1 1 auto;
    width: 100%;
    text-align: center;
    align-content: center;
    background-color:rgba(190, 81, 7, 0.5);
    padding: 1.25rem;

}
.card-title{
    font-size: 1.5em;
}
.card-text{
    font-size: 1.2em;
}

.btn{
    color: black;
    border:none;
    font-size: 1.2em;
}
/* hover effect for when clicking the buttons */
.btn:hover {
    background-color: rgb(219, 150, 103);
    border-color: rgba(190, 81, 7, 0);
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.699));
    transition: filter 0.5s ease-in;
}

/* skills/about me sections */
.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 2px dotted black;
    border-bottom: 2px dotted black;
}

.about {
    text-align: center;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

.skills{
    text-align: center;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

.skill-list{
    text-align: center;
    list-style: none;
    padding-left: 0;
}

.fab {
    font-size: large;
}




/* footer / contact me section */
.footer{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.card-section{
    display: flex;
    justify-content: space-around;
}
.card-link{
    font-weight: bolder;
}

.card{
    border-color: transparent;
}
.contact-body{
    box-shadow: 0 0 8px 10px white inset;
}
